@page
@using System.Runtime.InteropServices
@model AspNetCoreOnNativeWasi.Pages.MyRazorPageModel

<h1>Razor pages</h1>

<p>
    Hello World! This is running on <strong>@RuntimeInformation.FrameworkDescription</strong>,
    on <strong>@RuntimeInformation.OSArchitecture</strong>,
    at <strong>@DateTime.Now.ToLongTimeString()</strong>
</p>

<img src="logo.png" width="200" />
